<%= form_for @conn, pi_path(@conn, :attribute_form_post), [as: :form], fn f -> %>
  <%= text_input f, :path %>
  <%= select f, :operation, ["WebId": "webid", "Value": "value"] %>
  <%= submit "Search" %>
<% end %>

<div id="chartdiv"></div>

<div class="progress">
  <div id="avalability" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    40%
  </div>
</div>
